* {
  box-sizing: border-box;
}
img {width:100%;}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  width:85%;
  margin:auto;
  display:flex;
  gap:20px;
}

.grid {
  width:600px;
  min-width:600px;
  display:flex;
  flex-wrap:wrap;
  gap: 10px;
  margin-bottom:60px;
}
.square {
  flex:30%;
  border:2px solid black;
  height:200px;
  width:100%;
}
.mole {
  background-image:url('images/mole.png');
  background-size:cover;
}
.hole {
  background-image:url('images/hole.png');
  background-size:cover;
}
.two-col {
  display:flex;
}
.two-col div:first-child {
  flex:2;
}
.two-col div:last-child {
  flex:1;
    margin-top: 2em;
}
button {
  background:black;
  border:2px solid black;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
}
button:hover, button:active {
background:white;
color: black;
-webkit-tap-highlight-color: #ccc;
}
.home {width:60px;}

@media screen and (max-width: 1024px) {
  main {
    width:95%;
    flex-direction: column;
  }
  h1 {font-size:24px;}
  h2 {font-size:16px;}
  p.warn{font-size:11px;}
  button{font-size:14px;}
}
@media screen and (max-width: 768px) {
  .grid {
    width:400px;
    min-width:400px;
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    margin-bottom:60px;
  }
  .square {
    flex:30%;
    border:2px solid black;
    height:120px;
    width:100%;
  }

}